:root {
  --bs-cc: #fdc5f5;
  --bs-mauve: #f7aef8;
  --bs-lav: #b388eb;
  --bs-corn: #8093f1;
  --bs-sky: #72ddf7;
}
body {
  background-color: var(--bs-corn);
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
footer {
  background-color: var(--bs-cc);
  padding: 25px;
}
.jumbotron {
  background-color: var(--bs-cc);
}
